*~
.emacs.desktop
.deps
.dirstamp
*.o
*.a
TAGS

build

Makefile.in
Makefile
aclocal.m4
autom4te.cache

ChangeLog

configure
configure.ac
config.log
config.status

tools/scripts/gitlog2ChangeLog
tools/scripts/NEWS-query
tools/scripts/fetch

tools/autotools/install-sh
tools/autotools/missing
tools/autotools/mdate-sh
tools/autotools/texinfo.tex

tools/autotools/m4/perl_autofrisk.m4
tools/autotools/m4/guile_autofrisk.m4

docs/man/choicetool.1

src/choicetool
src/choicetool-preprocessor
src/choicetool-parser
src/choicetool-compiler
src/choicetool-linker

site/site.stamp

libs/scheme/lib.scm

libs/perl/Choicetool/Autoconfig.pm
libs/perl/Choicetool/Frontends/KConfig/Parse.pm
libs/perl/Choicetool/Frontends/KConfig/Preprocess.pm

libs/m4/choicetool.m4
libs/m4/header.m4
libs/m4/footer.m4
libs/m4/ui-menu.m4
libs/m4/ui-choice.m4
libs/m4/ui-comment.m4
libs/m4/ui-yesno.m4

data/choicetool-core.m4
data/choicetool-guile.m4

tests/defs
tests/include
tests/wrapper
tests/testSubDir-*
tests/test-arguments-1
tests/test-arguments-2
tests/test-arguments-3
tests/test-arguments-4
tests/test-arguments-5
tests/test-arguments-6
tests/test-arguments-long-1
tests/test-arguments-long-2
tests/test-arguments-multiple-1
tests/test-arguments-multiple-2
tests/test-autotools-1
tests/test-autotools-2
tests/test-dry-run
tests/test-fail
tests/test-input-name-1
tests/test-output-name-1
tests/test-language-1
tests/test-language-2
tests/test-language-3
tests/test-language-4
tests/test-language-5
tests/test-language-6
tests/test-language-7
tests/test-language-8
tests/test-language-9
tests/test-language-10
tests/test-language-11
tests/test-language-12
tests/test-language-13
tests/test-language-14
tests/test-language-15
tests/test-language-16
tests/test-language-comments-1
tests/test-language-comments-2
tests/test-language-comments-3
tests/test-language-parse-1
tests/test-language-source-1
tests/test-language-source-2
tests/test-language-source-3
tests/test-language-source-4
tests/test-language-complete
tests/test-success

docs/info/choicetool.info
