*~
.deps
.dirstamp
*.o
*.a
Makefile.in
Makefile

/ChangeLog
/VERSION
/NEWS
/TODO
/AUTHORS

/.version
/.tarball-version

/TAGS
/aclocal.m4
/autom4te.cache

/configure
/config.log
/config.status

/tools/maint/fetch
/tools/maint/whitespace-detect
/tools/maint/gitlog-to-committers
/tools/maint/gittag-to-date
/tools/maint/yaxx-to-grammar

/tools/autotools/install-sh
/tools/autotools/missing
/tools/autotools/mdate-sh
/tools/autotools/texinfo.tex

/tools/autotools/m4/perl-autofrisk-data.m4
/tools/autotools/m4/guile-autofrisk-data.m4

/src/choicetool
/src/choicetool-preprocessor
/src/choicetool-parser
/src/choicetool-compiler
/src/choicetool-linker

/libs/scheme/lib.scm

/libs/perl/Choicetool/Autoconfig.pm
/libs/perl/Choicetool/Frontends/KConfig/Parse.pm
/libs/perl/Choicetool/Frontends/KConfig/Preprocess.pm

/libs/m4/choicetool.m4
/libs/m4/debug.m4
/libs/m4/extensions.m4
/libs/m4/trace.m4
/libs/m4/shell.m4
/libs/m4/header.m4
/libs/m4/footer.m4
/libs/m4/ui.m4

/libs/aclocal/choicetool-core.m4
/libs/aclocal/choicetool-guile.m4

/tests/defs
/tests/include
/tests/wrapper
/tests/testSubDir-*
/tests/test-autotools-1
/tests/test-autotools-2
/tests/test-autotools-3
/tests/test-dry-run
/tests/test-fail
/tests/test-debug
/tests/test-verbose
/tests/test-input-name-1
/tests/test-output-name-1
/tests/test-language-01
/tests/test-language-02
/tests/test-language-03
/tests/test-language-04
/tests/test-language-05
/tests/test-language-06
/tests/test-language-07
/tests/test-language-08
/tests/test-language-09
/tests/test-language-10
/tests/test-language-11
/tests/test-language-12
/tests/test-language-13
/tests/test-language-14
/tests/test-language-15
/tests/test-language-16
/tests/test-language-17
/tests/test-language-18
/tests/test-language-19
/tests/test-language-20
/tests/test-language-21
/tests/test-language-22
/tests/test-language-23
/tests/test-language-24
/tests/test-language-25
/tests/test-language-26
/tests/test-language-27
/tests/test-language-28
/tests/test-language-29
/tests/test-language-30
/tests/test-language-31
/tests/test-language-32
/tests/test-language-33
/tests/test-language-34
/tests/test-language-35
/tests/test-language-36
/tests/test-language-37
/tests/test-language-38
/tests/test-language-39
/tests/test-language-40
/tests/test-language-41
/tests/test-language-42
/tests/test-language-43
/tests/test-language-44
/tests/test-language-45
/tests/test-language-46
/tests/test-language-47
/tests/test-language-48
/tests/test-language-49
/tests/test-language-50
/tests/test-language-51
/tests/test-language-52
/tests/test-language-53
/tests/test-language-54
/tests/test-language-55
/tests/test-language-56
/tests/test-language-57
/tests/test-language-58
/tests/test-language-59
/tests/test-language-60
/tests/test-language-61
/tests/test-language-62
/tests/test-language-63
/tests/test-language-64
/tests/test-language-65
/tests/test-language-66
/tests/test-language-67
/tests/test-language-68
/tests/test-language-69
/tests/test-language-70
/tests/test-language-comments-1
/tests/test-language-comments-2
/tests/test-language-comments-3
/tests/test-language-parse-1
/tests/test-language-source-1
/tests/test-language-source-2
/tests/test-language-source-3
/tests/test-language-source-4
/tests/test-language-expression-1
/tests/test-language-complete
/tests/test-success
/tests/test-options-short-1
/tests/test-options-short-2
/tests/test-options-short-3
/tests/test-options-short-4
/tests/test-options-long-1
/tests/test-options-long-2
/tests/test-options-long-3
/tests/test-options-long-4
/tests/test-options-abbr-1
/tests/test-options-abbr-2
/tests/test-options-abbr-3
/tests/test-options-shortargs-1
/tests/test-options-shortargs-2
/tests/test-options-shortargs-3
/tests/test-options-shortargs-4
/tests/test-options-longargs-1
/tests/test-options-longargs-2
/tests/test-options-longargs-3
/tests/test-options-longargs-4
/tests/test-options-abbrargs-1
/tests/test-options-abbrargs-2
/tests/test-options-abbrargs-3
/tests/test-options-abbrargs-4
/tests/test-options-multi-1
/tests/test-options-multi-2
/tests/test-options-multi-3
/tests/test-options-multi-4
/tests/test-options-multi-5
/tests/test-options-multi-6
/tests/test-options-multi-7
/tests/test-options-multi-8
/tests/test-options-tool-preprocessor
/tests/test-options-tool-parser
/tests/test-options-tool-compiler
/tests/test-options-tool-linker
/tests/test-options-error-1

/docs/man/choicetool.1
/docs/info/choicetool.info

/site/in/.sitetool
/site/in/site.stamp
/site/in/todos.sxml
/site/in/todos.dump
/site/in/news.sxml
/site/in/news.dump
/site/in/grammar.scm
/site/out/*
