*~
.emacs.desktop
.deps
.dirstamp
*.o
*.a
TAGS

build

Makefile.in
Makefile
aclocal.m4
autom4te.cache

ChangeLog

configure
configure.ac
config.log
config.status

tools/scripts/gitlog2ChangeLog
tools/scripts/NEWS-query
tools/scripts/fetch
tools/scripts/whitespace-detect

tools/autotools/install-sh
tools/autotools/missing
tools/autotools/mdate-sh
tools/autotools/texinfo.tex

tools/autotools/m4/perl_autofrisk.m4
tools/autotools/m4/guile_autofrisk.m4

src/choicetool
src/choicetool-preprocessor
src/choicetool-parser
src/choicetool-compiler
src/choicetool-linker

libs/scheme/lib.scm

libs/perl/Choicetool/Autoconfig.pm
libs/perl/Choicetool/Frontends/KConfig/Parse.pm
libs/perl/Choicetool/Frontends/KConfig/Preprocess.pm

libs/m4/choicetool.m4
libs/m4/trace.m4
libs/m4/miscellaneous.m4
libs/m4/header.m4
libs/m4/footer.m4
libs/m4/widgets.m4
libs/m4/ui.m4

libs/aclocal/choicetool-core.m4
libs/aclocal/choicetool-guile.m4

tests/defs
tests/include
tests/wrapper
tests/testSubDir-*
tests/test-autotools-1
tests/test-autotools-2
tests/test-autotools-3
tests/test-dry-run
tests/test-fail
tests/test-input-name-1
tests/test-output-name-1
tests/test-language-1
tests/test-language-2
tests/test-language-3
tests/test-language-4
tests/test-language-5
tests/test-language-6
tests/test-language-7
tests/test-language-8
tests/test-language-9
tests/test-language-10
tests/test-language-11
tests/test-language-12
tests/test-language-13
tests/test-language-14
tests/test-language-15
tests/test-language-16
tests/test-language-17
tests/test-language-18
tests/test-language-19
tests/test-language-20
tests/test-language-21
tests/test-language-22
tests/test-language-23
tests/test-language-24
tests/test-language-comments-1
tests/test-language-comments-2
tests/test-language-comments-3
tests/test-language-parse-1
tests/test-language-source-1
tests/test-language-source-2
tests/test-language-source-3
tests/test-language-source-4
tests/test-language-expression-1
tests/test-language-complete
tests/test-success
tests/test-options-short-1
tests/test-options-short-2
tests/test-options-short-3
tests/test-options-short-4
tests/test-options-long-1
tests/test-options-long-2
tests/test-options-long-3
tests/test-options-long-4
tests/test-options-abbr-1
tests/test-options-abbr-2
tests/test-options-abbr-3
tests/test-options-shortargs-1
tests/test-options-shortargs-2
tests/test-options-shortargs-3
tests/test-options-shortargs-4
tests/test-options-longargs-1
tests/test-options-longargs-2
tests/test-options-longargs-3
tests/test-options-longargs-4
tests/test-options-abbrargs-1
tests/test-options-abbrargs-2
tests/test-options-abbrargs-3
tests/test-options-abbrargs-4
tests/test-options-multi-1
tests/test-options-multi-2
tests/test-options-multi-3
tests/test-options-multi-4
tests/test-options-multi-5
tests/test-options-multi-6
tests/test-options-multi-7
tests/test-options-multi-8
tests/test-options-tool-preprocessor
tests/test-options-tool-parser
tests/test-options-tool-compiler
tests/test-options-tool-linker

docs/man/choicetool.1
docs/info/choicetool.info

site/in/.sitetool
site/in/site.stamp
site/out/*
